Options -Indexes

<Files ~ "\.(sh|bat|ps1)$">
    Order Allow,Deny
    Deny From All
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>