<IfModule mod_rewrite.c>
    RewriteEngine On

    # Projeniz bir alt klasörde (http://localhost/mortingen/) çalışıyorsa bu satır önemlidir.
    # Eğer ana domainde (http://siteadi.com/) çalışsaydı, bu satır # ile kapatılabilirdi.
    RewriteBase /mortingen/

    # Gelen istek, var olan bir dosya DEĞİLSE,
    RewriteCond %{REQUEST_FILENAME} !-f
    # VE gelen istek, var olan bir klasör DEĞİLSE,
    RewriteCond %{REQUEST_FILENAME} !-d
    # O zaman tüm isteği index.php'ye yönlendir.
    RewriteRule . index.php [L]
</IfModule>